@import "../variables";
@import "../mixins";

.table__header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: $table-header-height;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-logo {
        max-width: 150px;
        display: flex;
        justify-content: space-between;

        &-title {
            font-size: 0.8rem;
        }
    }

    &-buttons {
        i {
            &:hover {
                @include button-hover();
            }
        }
    }
}
